
body {
    color: var(--slate-color);
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

:root {
    --iris-color: #4d5ae5;
    --navyblue-color: #2e2f42;
    --green-color: #31d0aa;
    --slate-color: #434455;
    --lightslate-color: #8e8f99;
    --cornflower-color: #e7e9fc;
    --cloud-color: #f4f4fd;
    --white-color: #ffffff;
}

/* main page */

/* header */

.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    text-decoration: none;
    line-height: 1.3;
}

.header-logo-studio {
    color: #2E2F42 ;
}

.list-studio,
.list-portfolio,
.list-contacts {
    text-decoration: none;
    font-weight: 500;
    color: var(--navyblue-color);
}

.list-studio:hover,
.list-portfolio:hover,
.list-contacts:hover {
    color: var(--slate-color);
}

.list-studio:active,
.list-portfolio:active,
.list-contacts:active {
    color: var(--iris-color);
}

.list-mail,
.list-tel {
    text-decoration: none;
    color: var(--slate-color);

}

.list-mail:hover,
.list-tel:hover {
    color: var(--iris-color)
}

/* hero section */

.hero {
    background-color: var(--navyblue-color);

}

.hero-title {
    color: var(--white-color);
    font-size: 56px;
}

.hero-button {
    background-color: var(--iris-color);
    color: var(--white-color);
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: inherit;
}

.hero-button:active {
    background-color: var(--iris-color);
}

/* feature section */

.strategy-title,
.punctuality-title,
.diligence-title,
.technologies-title {
    line-height: 1.2;
    color: var(--navyblue-color);
}

.tasks-title {
    color: var(--navyblue-color);
}

/* team section */

.team {
    background-color: var(--cloud-color);
}
.team-title {
    color: var(--navyblue-color);
}

.markguerrero-title,
.tomfold-title,
.camilagarcia-title,
.danielwilson-title {
    color: var(--navyblue-color);
}

/* footer */

.footer {
    background-color: var(--navyblue-color);
}

.footer-logo-studio {
    color: var(--cloud-color);
}

.footer-text {
    color: var(--cornflower-color);
}

/* portfolio page */

/* button list */

.list-all,
.list-website,
.list-app,
.list-design,
.list-marketing {
    color: var(--iris-color);
    background-color: var(--cloud-color);
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.04em;
    font-weight: 600;
}

.list-all:active,
.list-website:active,
.list-app:active,
.list-design:active,
.list-marketing:active {
    background-color: var(--iris-color);
    color: var(--white-color);
}

/* photo list */

.list-bankapp,
.list-payment,
.list-meditaionapp,
.list-taxiservice,
.list-screen,
.list-courses,
.list-instagram,
.list-organicfood,
.list-coffee {
    text-decoration: none;
}

.bankapp-title,
.payment-title,
.meditaionapp-title,
.taxiservice-title,
.screen-title,
.courses-title,
.instagram-title,
.organicfood-title,
.coffee-title {
    color: var(--navyblue-color);
}

.bankapp-tex,
.payment-text,
.meditaionapp-text,
.taxiservice-text,
.screen-text,
.courses-text,
.instagram-text,
.organicfood-text,
.coffee-text {
    color: var(--slate-color)
}